<!DOCTYPE html>
<html lang="ja">
<head>
    <title>Data binding by jQuery</title>
    <meta charset="utf-8" />
</head>
<body>
    <div v-component="memo">
        <form action="javascript: void 0" v-on="submit: insert()">
            <input type="text" v-model="memo" />
            <input type="button" value="追加" />
        </form>

        <div v-repeat="memos">
            <p>{{ $value }}</p>
        </div>
    </div>

    <script src="../../dist/illya.js"></script>
    <script src="app.js"></script>
</body>
</html>